<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for the purchase, <%= @user.name %> !</h1>
    <p>Your purchase on our website went great! Log in to see the details!</p>
  </body>
</html>
